NEXT_PUBLIC_SUPABASE_URL=https://uviybtmckwpllzcgdgbo.supabase.co
NEXT_PUBLIC_SUPABASE_ANON_KEY=sb_publishable_9PziQ1MyVDlDOB5T_iQz2A_smE4xsmA
NEXT_PUBLIC_BUSINESS_WHATSAPP=250787793722
NEXT_PUBLIC_SITE_URL=https://www.mugamba.rw
